<%- include("listheader") -%>

<div id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="linkDescription">
  <h4>What are you listening to? Let the community know!</h4>
</div>

<hr />

<div class="box">
  <%  newListItems.forEach(function(album){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= album._id %>" onChange="this.form.submit()">
      <p class="playlistItem"><%=  album.artist  %> - <%=  album.title  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>
  <%  }); %>

  <form class="item" action="/list" method="post" style="display:block">
    <input type="text" id="aritstName" name="newArtist" placeholder="New Artist" autocomplete="off" style="margin-right:20px">
    <input type="text" id="albumTitle" name="newTitle" placeholder="New Title" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>